#ignore image directory
/images
#ignore fits files
*.fits
/fits
#ignore environments
/venv
#notebooks
*.ipynb
.ipynb_checkpoints
#.idea
.idea
#pycache
__pycache__
#pdf files
*.pdf
#images
*.png
#video
*.mp4
*.mp3
#git
.git
#csv files
*.csv
#files not for github
highres_*
leahfiles/
#yaml files
*.yml
#toml files
*.toml